<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>AoCH Leaderboard</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="/stylesheets/style.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container">
      <!-- <img class="background-image" src="/images/background.jpg" /> -->
      <h1>Advent of Code</h1>
      <div class="leaderboard_today right">
        <h2>Todays Leaderboard</h2>
        <div class="wrapper leaderboard">
          <div class="header">
            <div class="individual">
              <span style="text-align: center">rank</span
              ><span style="text-align: center">score</span
              ><span style="text-align: center">name</span
              ><span style="text-align: center">submitted parts</span>
            </div>
          </div>
          <div class="content"></div>
        </div>
      </div>
      <div class="leaderboard_total middle">
        <h2>December Leaderboard</h2>
        <div class="wrapper leaderboard">
          <div class="header">
            <div class="individual">
              <span style="text-align: center">rank</span
              ><span style="text-align: center">score</span
              ><span style="text-align: center">name</span
              ><span style="text-align: center">stars</span>
            </div>
          </div>
          <div class="content"></div>
        </div>
      </div>
      <div class="task_today nomove right">
        <h2>Todays Puzzle</h2>
        <!--img class="background-image" src="/images/possible-bg-2.jpg"-->
        <div class="wrapper task">
          <div class="content"></div>
        </div>
      </div>
    </div>
  </body>
  <script src="/scripts/main.js"></script>
  <script>
    async function get_data() {
      let response = await fetch("/data");
      let leaderboards = await response.json();

      render(
        ".leaderboard_total > .wrapper > .content",
        leaderboards.total,
        false
      );
      move_middle(document.querySelector(".leaderboard_total"))
    }

    setInterval(get_data, 60000 * 15);
    get_data();
  </script>
</html>
