<%= raw(@assignment) %>

<p class="w-full text-center mt-10 text-xs">The creation of this assignment is pulled from <a href="https://adventofcode.com/">Advent of Code</a> and no ownership is claimed by this website.</p>